﻿<div class="show-card" style="transform:rotate(@(Rotation)deg)">
    <div class="show-card-image">
        <i class="fas fa-star show-card-star"></i>
        <img src="@Show.ImageOriginal" />
    </div>
    <div class="show-card-details">
        <div class="show-card-details-top">
            <h5 class="show-card-title">@Show.Title</h5>
            <p>@Show.Genre.GetDescription()</p>
        </div>
        <div>
            <div class="show-card-times-dates">
                <p class="show-card-times"><i class="fas fa-clock"></i>&nbsp;@Show.PerformanceTimes</p>
                <p>&nbsp;</p>
                <p class="show-card-dates"><i class="fas fa-calendar"></i>&nbsp;@Show.PerformanceDates</p>
            </div>
            <div class="show-card-venue-price">
                <p class="show-card-venue"><i class="fas fa-map-marker-alt"></i>&nbsp;@Show.VenueName</p>
                <p class="show-card-price"><i class="fas fa-credit-card"></i>&nbsp;£@Show.PerformancePrice</p>
            </div>
        </div>
    </div>
</div>