﻿<div class="row">
    @for (int i = 0; i < Shows.Count; i++)
    {
        <div class="col-md-4">
            @if (i % 5 == 0) { <ShowCard Show="Shows[i]" Rotation="0.5"></ShowCard> }
            else if (i % 5 == 1) { <ShowCard Show="Shows[i]" Rotation="-1"></ShowCard> }
            else if (i % 5 == 2) { <ShowCard Show="Shows[i]" Rotation="1.5"></ShowCard> }
            else if (i % 5 == 3) { <ShowCard Show="Shows[i]" Rotation="-0.5"></ShowCard> }
            else if (i % 5 == 4) { <ShowCard Show="Shows[i]" Rotation="1"></ShowCard> }
        </div>
    }
</div>