﻿// Search Bar

.search-bar {
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #f3f4f5;
}

.search-bar .ui-autocomplete {
    border: none;
    border-radius: 0px;

    &:hover {
        box-shadow: none;
    }

    &:focus {
        outline: none;
    }

}

.search-bar .ui-autocomplete-input {
    box-shadow: none;
    background-color: transparent;
}

.search-bar .ui-dropdown {
    border: none;
    border-radius: 0px;
    box-shadow: none;
    background-color: transparent;

    .ui-inputtext:hover {
        outline: none;
    }

    &:hover {
        border: none;
        box-shadow: none;
    }

    &:focus {
        outline: none;
    }
}

.search-bar .ui-calendar .ui-inputtext {
    border: none;
    border-radius: 0px;
    box-shadow: none;
    background-color: transparent;

    &:hover {
        box-shadow: none;
        border: none;
    }

    &:focus {
        outline: none;
    }
}

.search-bar .pi-chevron-down {
    visibility: hidden;
}

