.search-bar {
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #f3f4f5; }

.search-bar .ui-autocomplete {
  border: none;
  border-radius: 0px; }
  .search-bar .ui-autocomplete:hover {
    box-shadow: none; }
  .search-bar .ui-autocomplete:focus {
    outline: none; }

.search-bar .ui-autocomplete-input {
  box-shadow: none;
  background-color: transparent; }

.search-bar .ui-dropdown {
  border: none;
  border-radius: 0px;
  box-shadow: none;
  background-color: transparent; }
  .search-bar .ui-dropdown .ui-inputtext:hover {
    outline: none; }
  .search-bar .ui-dropdown:hover {
    border: none;
    box-shadow: none; }
  .search-bar .ui-dropdown:focus {
    outline: none; }

.search-bar .ui-calendar .ui-inputtext {
  border: none;
  border-radius: 0px;
  box-shadow: none;
  background-color: transparent; }
  .search-bar .ui-calendar .ui-inputtext:hover {
    box-shadow: none;
    border: none; }
  .search-bar .ui-calendar .ui-inputtext:focus {
    outline: none; }

.search-bar .pi-chevron-down {
  visibility: hidden; }
