.navbar {
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
  padding: 0.5em 1.5em;
  background-color: #B7DFF3; }

.home-link {
  color: white;
  font-size: 2em; }
  .home-link:hover {
    color: #4EACD9;
    text-decoration: none; }

.menu-options {
  align-items: center; }

.page-options-link {
  margin: 0px 10px 0px 0px;
  font-size: 2em;
  color: white;
  text-decoration: none;
  letter-spacing: 1px; }
  .page-options-link:hover {
    color: #4EACD9;
    text-decoration: none; }

.active-page {
  border-bottom: 4px solid #F9F001; }

.user-options {
  position: relative;
  display: inline-block; }

.user-options-icon {
  border-left: solid 2px white;
  padding-left: 10px;
  font-size: 1.5em;
  color: white; }
  .user-options-icon:hover {
    color: #4EACD9; }

.user-options-btn {
  border: none;
  background-color: #B7DFF3;
  color: white;
  font-size: 16px; }

.user-options-dropdown {
  padding: 5px 0px;
  display: none;
  position: absolute;
  right: 5px;
  z-index: 1;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: #f1f1f1;
  text-align: right; }
  .user-options-dropdown a {
    padding: 5px 15px;
    display: block;
    text-decoration: none;
    color: #333333; }
  .user-options-dropdown a:hover {
    background-color: #B7DDF9;
    color: white; }

.user-options:hover .user-options-dropdown {
  display: block;
  color: #4EADC9; }
