.show-card {
  display: flex;
  height: 120px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-style: none;
  border-radius: 3px;
  margin: 10px 0px;
  background-color: #f3cece;
  font-family: monospace;
  font-size: 14px;
  overflow: scroll;
  cursor: pointer; }
  .show-card:hover {
    box-shadow: 0px 0px 20px goldenrod;
    transform: scale(1.03);
    transition: 0.3s; }

.show-card-image {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .show-card-image img {
    width: 115px;
    height: 120px;
    border-radius: 3px 0px 0px 3px;
    object-fit: cover; }

.show-card-star {
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
  font-size: large; }
  .show-card-star:hover {
    color: #FFDF00; }

.favourite {
  color: #FFDF00; }
  .favourite:hover {
    color: white; }

.show-card-details {
  width: 90%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.show-card-details-top {
  height: 60%; }

.show-card-title {
  max-height: 2.4em;
  overflow: scroll;
  font-weight: bold; }

.show-card-times-dates {
  display: flex; }

.show-card-times {
  min-width: 40%; }

.show-card-dates {
  min-width: 45%; }

.show-card-venue-price {
  display: flex;
  justify-content: space-between; }

.show-card-venue {
  min-width: 70%; }

.show-card-price {
  width: 25%;
  text-align: right; }
