﻿@page "/shows"

<div class="flex-space-between search-bar">
    <RadzenAutoComplete Value="@SearchText"
                        Change="@SearchTextChanged"
                        Placeholder="All Shows"
                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                        Data=@FilterShows
                        TextProperty="Title"
                        Style="width:300px; height:35px; border-right: 1px solid grey;" />

    <RadzenDropDown @bind-Value=@SelectedGenres
                    Change="@GenresChanged"
                    Multiple="true"
                    Placeholder="All Genres"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    Data=@FilterGenres
                    TextProperty="Name"
                    ValueProperty="ID"
                    AllowClear="true"
                    AllowFiltering="true"
                    Style="width:200px; height:35px; border-right: 1px solid grey;" />

    @*<RadzenDropDown @bind-Value="@AddedWhen"
                    Change="@AddedWhenChanged"
                    Placeholder="Added At Any Time"
                    Data=@FilterAddedWhen
                    TextProperty="Name"
                    ValueProperty="ID"
                    AllowClear="true"
                    Style="width:100px; height:35px; border-right: 1px solid grey;" />*@

    <RadzenDropDown @bind-Value=@SelectedVenues
                    Change="@VenuesChanged"
                    Multiple="true"
                    Placeholder="All Venues"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    Data=@FilterVenues
                    TextProperty="Name"
                    ValueProperty="Code"
                    AllowClear="true"
                    AllowFiltering="true"
                    Style="width:250px; height:35px; border-right: 1px solid grey;" />

    <RadzenDatePicker @bind-Value=@FromDate
                      Change="@FromDateChanged"
                      DateFormat="dd/MM/yy"
                      Style="width:110px; height:35px;" />
    -
    <RadzenDatePicker @bind-Value=@ToDate
                      Change="@ToDateChanged"
                      DateFormat="dd/MM/yy"
                      Style="width:110px; height:35px; border-right: 1px solid grey;" />

    <RadzenDropDown @bind-Value="@OrderById"
                    Change="@OrderByChanged"
                    Placeholder="Ordered By Title: A-Z"
                    Data=@FilterOrderBy
                    TextProperty="Name"
                    ValueProperty="ID"
                    AllowClear="true"
                    Style="width:175px; height:35px;" />

    <div>
        <RadzenButton Click="@RefreshShows" Icon="search" Style="background-color: #f9f048;" />
        <RadzenButton Click="@ClearFilter" Icon="clear" Style="background-color: lightgrey;" />
    </div>
</div>

<br />

<ShowGrid @ref="ShowGrid"></ShowGrid>