﻿<div class="navbar flex-space-between">
    <div>
        <a href="shows" class="home-link">myfringeplanner</a>
    </div>
    <div class="menu-options flex-space-between">
        <div class="page-options">
            <a href="shows" class="page-options-link @ShowsLink" @onclick='_ => OpenPage("shows")'>shows</a>
            <a href="favourites" class="page-options-link @FavouritesLink" @onclick='_ => OpenPage("favourites")'>favourites</a>
            <a href="planner" class="page-options-link @PlannerLink" @onclick='_ => OpenPage("planner")'>planner</a>
        </div>
        <div>
            <div class="user-options">
                <button class="user-options-btn"><i class="fas fa-user user-options-icon"></i></button>
                <div class="user-options-dropdown">
                    <a href="#">Register</a>
                    <a href="#">Sign In</a>
                    <a href="#">My Profile</a>
                    <a href="#">Add Friend</a>
                    <a href="#">Log Out</a>
                </div>
            </div>
        </div>
    </div>
</div>